body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

canvas{
    background:#222;
    border:4px solid lime;
}

#score{
    margin:15px;
    font-size:24px;
}
